In [16]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
data = pd.read_csv("../data/titanic/train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
# 只保留 Age,sex,Embarked 3列
# Age 数值型
# Sex 字符型
# Embarked 字符型
short_data = data[['Age','Sex','Embarked']]

In [13]:
short_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Sex       891 non-null    object
 2   Embarked  889 non-null    object
dtypes: float64(1), object(2)
memory usage: 21.0+ KB

In [33]:
Age = data.loc[:,"Age"].values.reshape(-1,1) #sklearn当中特征矩阵必须是二维
Age

array([[22.  ],
       [38.  ],
       [26.  ],
       [35.  ],
       [35.  ],
       [  nan],
       [54.  ],
       [ 2.  ],
       [27.  ],
       [14.  ],
       [ 4.  ],
       [58.  ],
       [20.  ],
       [39.  ],
       [14.  ],
       [55.  ],
       [ 2.  ],
       [  nan],
       [31.  ],
       [  nan],
       [35.  ],
       [34.  ],
       [15.  ],
       [28.  ],
       [ 8.  ],
       [38.  ],
       [  nan],
       [19.  ],
       [  nan],
       [  nan],
       [40.  ],
       [  nan],
       [  nan],
       [66.  ],
       [28.  ],
       [42.  ],
       [  nan],
       [21.  ],
       [18.  ],
       [14.  ],
       [40.  ],
       [27.  ],
       [  nan],
       [ 3.  ],
       [19.  ],
       [  nan],
       [  nan],
       [  nan],
       [  nan],
       [18.  ],
       [ 7.  ],
       [21.  ],
       [49.  ],
       [29.  ],
       [65.  ],
       [  nan],
       [21.  ],
       [28.5 ],
       [ 5.  ],
       [11.  ],
       [22.  ],
       [38.  ],
       [45.  ],
       [ 4.  ],
       [  nan],
       [  nan],
       [29.  ],
       [19.  ],
       [17.  ],
       [26.  ],
       [32.  ],
       [16.  ],
       [21.  ],
       [26.  ],
       [32.  ],
       [25.  ],
       [  nan],
       [  nan],
       [ 0.83],
       [30.  ],
       [22.  ],
       [29.  ],
       [  nan],
       [28.  ],
       [17.  ],
       [33.  ],
       [16.  ],
       [  nan],
       [23.  ],
       [24.  ],
       [29.  ],
       [20.  ],
       [46.  ],
       [26.  ],
       [59.  ],
       [  nan],
       [71.  ],
       [23.  ],
       [34.  ],
       [34.  ],
       [28.  ],
       [  nan],
       [21.  ],
       [33.  ],
       [37.  ],
       [28.  ],
       [21.  ],
       [  nan],
       [38.  ],
       [  nan],
       [47.  ],
       [14.5 ],
       [22.  ],
       [20.  ],
       [17.  ],
       [21.  ],
       [70.5 ],
       [29.  ],
       [24.  ],
       [ 2.  ],
       [21.  ],
       [  nan],
       [32.5 ],
       [32.5 ],
       [54.  ],
       [12.  ],
       [  nan],
       [24.  ],
       [  nan],
       [45.  ],
       [33.  ],
       [20.  ],
       [47.  ],
       [29.  ],
       [25.  ],
       [23.  ],
       [19.  ],
       [37.  ],
       [16.  ],
       [24.  ],
       [  nan],
       [22.  ],
       [24.  ],
       [19.  ],
       [18.  ],
       [19.  ],
       [27.  ],
       [ 9.  ],
       [36.5 ],
       [42.  ],
       [51.  ],
       [22.  ],
       [55.5 ],
       [40.5 ],
       [  nan],
       [51.  ],
       [16.  ],
       [30.  ],
       [  nan],
       [  nan],
       [44.  ],
       [40.  ],
       [26.  ],
       [17.  ],
       [ 1.  ],
       [ 9.  ],
       [  nan],
       [45.  ],
       [  nan],
       [28.  ],
       [61.  ],
       [ 4.  ],
       [ 1.  ],
       [21.  ],
       [56.  ],
       [18.  ],
       [  nan],
       [50.  ],
       [30.  ],
       [36.  ],
       [  nan],
       [  nan],
       [ 9.  ],
       [ 1.  ],
       [ 4.  ],
       [  nan],
       [  nan],
       [45.  ],
       [40.  ],
       [36.  ],
       [32.  ],
       [19.  ],
       [19.  ],
       [ 3.  ],
       [44.  ],
       [58.  ],
       [  nan],
       [42.  ],
       [  nan],
       [24.  ],
       [28.  ],
       [  nan],
       [34.  ],
       [45.5 ],
       [18.  ],
       [ 2.  ],
       [32.  ],
       [26.  ],
       [16.  ],
       [40.  ],
       [24.  ],
       [35.  ],
       [22.  ],
       [30.  ],
       [  nan],
       [31.  ],
       [27.  ],
       [42.  ],
       [32.  ],
       [30.  ],
       [16.  ],
       [27.  ],
       [51.  ],
       [  nan],
       [38.  ],
       [22.  ],
       [19.  ],
       [20.5 ],
       [18.  ],
       [  nan],
       [35.  ],
       [29.  ],
       [59.  ],
       [ 5.  ],
       [24.  ],
       [  nan],
       [44.  ],
       [ 8.  ],
       [19.  ],
       [33.  ],
       [  nan],
       [  nan],
       [29.  ],
       [22.  ],
       [30.  ],
       [44.  ],
       [25.  ],
       [24.  ],
       [37.  ],
       [54.  ],
       [  nan],
       [29.  ],
       [62.  ],
       [30.  ],
       [41.  ],
       [29.  ],
       [  nan],
       [30.  ],
       [35.  ],
       [50.  ],
       [  nan],
       [ 3.  ],
       [52.  ],
       [40.  ],
       [  nan],
       [36.  ],
       [16.  ],
       [25.  ],
       [58.  ],
       [35.  ],
       [  nan],
       [25.  ],
       [41.  ],
       [37.  ],
       [  nan],
       [63.  ],
       [45.  ],
       [  nan],
       [ 7.  ],
       [35.  ],
       [65.  ],
       [28.  ],
       [16.  ],
       [19.  ],
       [  nan],
       [33.  ],
       [30.  ],
       [22.  ],
       [42.  ],
       [22.  ],
       [26.  ],
       [19.  ],
       [36.  ],
       [24.  ],
       [24.  ],
       [  nan],
       [23.5 ],
       [ 2.  ],
       [  nan],
       [50.  ],
       [  nan],
       [  nan],
       [19.  ],
       [  nan],
       [  nan],
       [ 0.92],
       [  nan],
       [17.  ],
       [30.  ],
       [30.  ],
       [24.  ],
       [18.  ],
       [26.  ],
       [28.  ],
       [43.  ],
       [26.  ],
       [24.  ],
       [54.  ],
       [31.  ],
       [40.  ],
       [22.  ],
       [27.  ],
       [30.  ],
       [22.  ],
       [  nan],
       [36.  ],
       [61.  ],
       [36.  ],
       [31.  ],
       [16.  ],
       [  nan],
       [45.5 ],
       [38.  ],
       [16.  ],
       [  nan],
       [  nan],
       [29.  ],
       [41.  ],
       [45.  ],
       [45.  ],
       [ 2.  ],
       [24.  ],
       [28.  ],
       [25.  ],
       [36.  ],
       [24.  ],
       [40.  ],
       [  nan],
       [ 3.  ],
       [42.  ],
       [23.  ],
       [  nan],
       [15.  ],
       [25.  ],
       [  nan],
       [28.  ],
       [22.  ],
       [38.  ],
       [  nan],
       [  nan],
       [40.  ],
       [29.  ],
       [45.  ],
       [35.  ],
       [  nan],
       [30.  ],
       [60.  ],
       [  nan],
       [  nan],
       [24.  ],
       [25.  ],
       [18.  ],
       [19.  ],
       [22.  ],
       [ 3.  ],
       [  nan],
       [22.  ],
       [27.  ],
       [20.  ],
       [19.  ],
       [42.  ],
       [ 1.  ],
       [32.  ],
       [35.  ],
       [  nan],
       [18.  ],
       [ 1.  ],
       [36.  ],
       [  nan],
       [17.  ],
       [36.  ],
       [21.  ],
       [28.  ],
       [23.  ],
       [24.  ],
       [22.  ],
       [31.  ],
       [46.  ],
       [23.  ],
       [28.  ],
       [39.  ],
       [26.  ],
       [21.  ],
       [28.  ],
       [20.  ],
       [34.  ],
       [51.  ],
       [ 3.  ],
       [21.  ],
       [  nan],
       [  nan],
       [  nan],
       [33.  ],
       [  nan],
       [44.  ],
       [  nan],
       [34.  ],
       [18.  ],
       [30.  ],
       [10.  ],
       [  nan],
       [21.  ],
       [29.  ],
       [28.  ],
       [18.  ],
       [  nan],
       [28.  ],
       [19.  ],
       [  nan],
       [32.  ],
       [28.  ],
       [  nan],
       [42.  ],
       [17.  ],
       [50.  ],
       [14.  ],
       [21.  ],
       [24.  ],
       [64.  ],
       [31.  ],
       [45.  ],
       [20.  ],
       [25.  ],
       [28.  ],
       [  nan],
       [ 4.  ],
       [13.  ],
       [34.  ],
       [ 5.  ],
       [52.  ],
       [36.  ],
       [  nan],
       [30.  ],
       [49.  ],
       [  nan],
       [29.  ],
       [65.  ],
       [  nan],
       [50.  ],
       [  nan],
       [48.  ],
       [34.  ],
       [47.  ],
       [48.  ],
       [  nan],
       [38.  ],
       [  nan],
       [56.  ],
       [  nan],
       [ 0.75],
       [  nan],
       [38.  ],
       [33.  ],
       [23.  ],
       [22.  ],
       [  nan],
       [34.  ],
       [29.  ],
       [22.  ],
       [ 2.  ],
       [ 9.  ],
       [  nan],
       [50.  ],
       [63.  ],
       [25.  ],
       [  nan],
       [35.  ],
       [58.  ],
       [30.  ],
       [ 9.  ],
       [  nan],
       [21.  ],
       [55.  ],
       [71.  ],
       [21.  ],
       [  nan],
       [54.  ],
       [  nan],
       [25.  ],
       [24.  ],
       [17.  ],
       [21.  ],
       [  nan],
       [37.  ],
       [16.  ],
       [18.  ],
       [33.  ],
       [  nan],
       [28.  ],
       [26.  ],
       [29.  ],
       [  nan],
       [36.  ],
       [54.  ],
       [24.  ],
       [47.  ],
       [34.  ],
       [  nan],
       [36.  ],
       [32.  ],
       [30.  ],
       [22.  ],
       [  nan],
       [44.  ],
       [  nan],
       [40.5 ],
       [50.  ],
       [  nan],
       [39.  ],
       [23.  ],
       [ 2.  ],
       [  nan],
       [17.  ],
       [  nan],
       [30.  ],
       [ 7.  ],
       [45.  ],
       [30.  ],
       [  nan],
       [22.  ],
       [36.  ],
       [ 9.  ],
       [11.  ],
       [32.  ],
       [50.  ],
       [64.  ],
       [19.  ],
       [  nan],
       [33.  ],
       [ 8.  ],
       [17.  ],
       [27.  ],
       [  nan],
       [22.  ],
       [22.  ],
       [62.  ],
       [48.  ],
       [  nan],
       [39.  ],
       [36.  ],
       [  nan],
       [40.  ],
       [28.  ],
       [  nan],
       [  nan],
       [24.  ],
       [19.  ],
       [29.  ],
       [  nan],
       [32.  ],
       [62.  ],
       [53.  ],
       [36.  ],
       [  nan],
       [16.  ],
       [19.  ],
       [34.  ],
       [39.  ],
       [  nan],
       [32.  ],
       [25.  ],
       [39.  ],
       [54.  ],
       [36.  ],
       [  nan],
       [18.  ],
       [47.  ],
       [60.  ],
       [22.  ],
       [  nan],
       [35.  ],
       [52.  ],
       [47.  ],
       [  nan],
       [37.  ],
       [36.  ],
       [  nan],
       [49.  ],
       [  nan],
       [49.  ],
       [24.  ],
       [  nan],
       [  nan],
       [44.  ],
       [35.  ],
       [36.  ],
       [30.  ],
       [27.  ],
       [22.  ],
       [40.  ],
       [39.  ],
       [  nan],
       [  nan],
       [  nan],
       [35.  ],
       [24.  ],
       [34.  ],
       [26.  ],
       [ 4.  ],
       [26.  ],
       [27.  ],
       [42.  ],
       [20.  ],
       [21.  ],
       [21.  ],
       [61.  ],
       [57.  ],
       [21.  ],
       [26.  ],
       [  nan],
       [80.  ],
       [51.  ],
       [32.  ],
       [  nan],
       [ 9.  ],
       [28.  ],
       [32.  ],
       [31.  ],
       [41.  ],
       [  nan],
       [20.  ],
       [24.  ],
       [ 2.  ],
       [  nan],
       [ 0.75],
       [48.  ],
       [19.  ],
       [56.  ],
       [  nan],
       [23.  ],
       [  nan],
       [18.  ],
       [21.  ],
       [  nan],
       [18.  ],
       [24.  ],
       [  nan],
       [32.  ],
       [23.  ],
       [58.  ],
       [50.  ],
       [40.  ],
       [47.  ],
       [36.  ],
       [20.  ],
       [32.  ],
       [25.  ],
       [  nan],
       [43.  ],
       [  nan],
       [40.  ],
       [31.  ],
       [70.  ],
       [31.  ],
       [  nan],
       [18.  ],
       [24.5 ],
       [18.  ],
       [43.  ],
       [36.  ],
       [  nan],
       [27.  ],
       [20.  ],
       [14.  ],
       [60.  ],
       [25.  ],
       [14.  ],
       [19.  ],
       [18.  ],
       [15.  ],
       [31.  ],
       [ 4.  ],
       [  nan],
       [25.  ],
       [60.  ],
       [52.  ],
       [44.  ],
       [  nan],
       [49.  ],
       [42.  ],
       [18.  ],
       [35.  ],
       [18.  ],
       [25.  ],
       [26.  ],
       [39.  ],
       [45.  ],
       [42.  ],
       [22.  ],
       [  nan],
       [24.  ],
       [  nan],
       [48.  ],
       [29.  ],
       [52.  ],
       [19.  ],
       [38.  ],
       [27.  ],
       [  nan],
       [33.  ],
       [ 6.  ],
       [17.  ],
       [34.  ],
       [50.  ],
       [27.  ],
       [20.  ],
       [30.  ],
       [  nan],
       [25.  ],
       [25.  ],
       [29.  ],
       [11.  ],
       [  nan],
       [23.  ],
       [23.  ],
       [28.5 ],
       [48.  ],
       [35.  ],
       [  nan],
       [  nan],
       [  nan],
       [36.  ],
       [21.  ],
       [24.  ],
       [31.  ],
       [70.  ],
       [16.  ],
       [30.  ],
       [19.  ],
       [31.  ],
       [ 4.  ],
       [ 6.  ],
       [33.  ],
       [23.  ],
       [48.  ],
       [ 0.67],
       [28.  ],
       [18.  ],
       [34.  ],
       [33.  ],
       [  nan],
       [41.  ],
       [20.  ],
       [36.  ],
       [16.  ],
       [51.  ],
       [  nan],
       [30.5 ],
       [  nan],
       [32.  ],
       [24.  ],
       [48.  ],
       [57.  ],
       [  nan],
       [54.  ],
       [18.  ],
       [  nan],
       [ 5.  ],
       [  nan],
       [43.  ],
       [13.  ],
       [17.  ],
       [29.  ],
       [  nan],
       [25.  ],
       [25.  ],
       [18.  ],
       [ 8.  ],
       [ 1.  ],
       [46.  ],
       [  nan],
       [16.  ],
       [  nan],
       [  nan],
       [25.  ],
       [39.  ],
       [49.  ],
       [31.  ],
       [30.  ],
       [30.  ],
       [34.  ],
       [31.  ],
       [11.  ],
       [ 0.42],
       [27.  ],
       [31.  ],
       [39.  ],
       [18.  ],
       [39.  ],
       [33.  ],
       [26.  ],
       [39.  ],
       [35.  ],
       [ 6.  ],
       [30.5 ],
       [  nan],
       [23.  ],
       [31.  ],
       [43.  ],
       [10.  ],
       [52.  ],
       [27.  ],
       [38.  ],
       [27.  ],
       [ 2.  ],
       [  nan],
       [  nan],
       [ 1.  ],
       [  nan],
       [62.  ],
       [15.  ],
       [ 0.83],
       [  nan],
       [23.  ],
       [18.  ],
       [39.  ],
       [21.  ],
       [  nan],
       [32.  ],
       [  nan],
       [20.  ],
       [16.  ],
       [30.  ],
       [34.5 ],
       [17.  ],
       [42.  ],
       [  nan],
       [35.  ],
       [28.  ],
       [  nan],
       [ 4.  ],
       [74.  ],
       [ 9.  ],
       [16.  ],
       [44.  ],
       [18.  ],
       [45.  ],
       [51.  ],
       [24.  ],
       [  nan],
       [41.  ],
       [21.  ],
       [48.  ],
       [  nan],
       [24.  ],
       [42.  ],
       [27.  ],
       [31.  ],
       [  nan],
       [ 4.  ],
       [26.  ],
       [47.  ],
       [33.  ],
       [47.  ],
       [28.  ],
       [15.  ],
       [20.  ],
       [19.  ],
       [  nan],
       [56.  ],
       [25.  ],
       [33.  ],
       [22.  ],
       [28.  ],
       [25.  ],
       [39.  ],
       [27.  ],
       [19.  ],
       [  nan],
       [26.  ],
       [32.  ]])

In [41]:
# 使用 平均数 或者中位数 填充Age
simple_inputer = SimpleImputer();#默认均值
median_inputer = SimpleImputer(strategy="median");#中位数
SimpleImputer(strategy="constant",fill_value=0);#用0填补


simple_inputer.fit_transform(Age)

/Users/xuhuan/opt/anaconda3/envs/Ai-python/lib/python3.6/site-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [15]:
# 使用 众数 填充Embarked

In [35]:
#data.loc[:,"Age"] = data.loc[:,"Age"].fillna(data.loc[:,"Age"].median())

In [39]:
#data.Age

In [40]:
short_data

      Age     Sex Embarked
0    22.0    male        S
1    38.0  female        C
2    26.0  female        S
3    35.0  female        S
4    35.0    male        S
..    ...     ...      ...
886  27.0    male        S
887  19.0  female        S
888   NaN  female        S
889  26.0    male        C
890  32.0    male        Q

[891 rows x 3 columns]