In [2]:
from numpy import log
from pandas import DataFrame as df
import pandas as pd

In [1]:
# x1 x2 y(0 is good ,1 is bad)
dataOriginal = [
        [0, 1, 0],
        [0, 0, 0],
        [0, 1, 0],
        [1, 0, 1],
        [1, 0, 0],
        [1, 1, 1],
        [0, 1, 1],
        [1, 1, 1],
        [1, 0, 1],
        [1, 0, 1]]

data = df(dataOriginal, columns=["x1", "x2", "y"])
subx = df(data.groupby("x1")["x1"].count())
subx

NameError: name 'df' is not defined

In [18]:
suby = df(data.groupby("x1")["y"].sum())
suby

    y
x1
0   1
1   5

In [38]:
merge_data = df(pd.merge(subx, suby, how="left", left_index=True, right_index=True))
merge_data

    x1  y
x1
0    4  1
1    6  5

In [39]:
total = merge_data["x1"].sum()
b_total = merge_data["y"].sum()
g_total = total - b_total
total,b_total,g_total

(10, 6, 4)

In [40]:
merge_data["bad"] = merge_data.apply(lambda x: round(x["x1"] / b_total, 3), axis=1)
merge_data["good"] = merge_data.apply(lambda x: round((x["x1"] - x["y"]) / g_total, 3), axis=1)
merge_data["WOE"] = merge_data.apply(lambda x: log(x.bad / x.good), axis=1)
merge_data

    x1  y    bad  good       WOE
x1
0    4  1  0.667  0.75 -0.117283
1    6  5  1.000  0.25  1.386294